.timestamp-bullet {
    width: 3em;
    color: var(--text-faint);
    position: relative;
    display: inline-block;
}

div[data-mode=preview] .timestamp-bullet {
    margin-inline-start: -2em;
}

div[data-mode=source] .timestamp-bullet {
    margin-inline-start: -1em;
}

span.timestamp-bullet+img+span {
    margin-left: 0.5em;
}