.timestamp-bullet {
    float: left;
    margin-inline-start: -3.5em;
    color: var(--text-faint);
    position: relative;
    display: inline-block;
}

span.timestamp-bullet+img+span {
    margin-left: 0.5em;
}